*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
div.main{
    width: 400px;
    height: 200px;
    background-color: #ccc;            /*使用position定位,实现绝对居中*/
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
div.main div.left-circle {
    width: 50px;
    height: 50px;                      /*画出圆形*/
    border-bottom-right-radius: 50px;
    background-color: #fc0;
    position: absolute;
}
div.main div.right-circle {
    width: 50px;
    height: 50px;                      /*画出圆形*/
    border-top-left-radius: 50px;
    background-color: #fc0;
    position: absolute;
    right: 0;
    bottom: 0;
}