/*整体设置边距和背景*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gainsboro;
}

/*头部导航栏*/
header{
    position: relative;
     height: 60px;
     background-color: black;
}

header ul{
    position: absolute;
    font-size: 12px;
    top: 0px;
    right: 20px;
}
header ul li{
    display: inline;
    line-height: 60px;
    float: left;
    margin-right: 10px;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header ul li a:hover{
    color: grey;
}


/*设置中间内容部分*/
article{
    background-color: white;
    padding: 40px 20px;
    margin: 25px;
    top: 10px;
    box-shadow: 2px 2px 1px grey;
}

article h3{
    margin-top: 20px;
    margin-bottom: 20px
}

article p{
    margin-top: 20px;
    text-indent: 2em;
}

article img{
    margin-top: 20px;
}

article ul{
    margin-top: 20px;
}
article ul li{
    list-style-type: none;
}

article ul.ul2{
    margin-left: 30px;
}

article ul.img3 li{
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
}

article ul div{
    padding: 8px;
    text-align: center;
    font-size: 15px;
}

article ul.img3 img{
    width: 180px;
    margin: 10px;
}

article ol{
    margin: 20px 40px;
}

article table{
    width: 100%;
    border-collapse: collapse;
}
article table tr th{
     height: 25px;
     text-align: left;
    padding-left: 5px;
     background-color:black;
     color: white;
 }

article table tr td{
    height: 25px;
    padding-left: 5px;
}

article table tr.td5{
    background-color: darkgray;
}


/*设置侧边栏部分*/
aside{
    background-color: white;
    padding: 40px 20px;
    margin: 25px;
    top: 10px;
    box-shadow: 2px 2px 1px grey;
}

aside h4{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 3px solid grey;
}

aside form{
    margin: 15px 0;
}


aside form label{
    float:left;
    text-align:right;
    width:35%;
    padding-right:15px;
}

aside form p{
    margin-left: 35%;
    padding-left: 15px;
    font-size: 15px;
    color: grey;
    margin-top: 15px;
}

aside input{
    height: 20px;
}

aside div input{
    margin-top: -15px;
    margin-bottom: -15px;
    width:100%;
    height: 40px;
    font-size: 18px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}



/*设置底部*/
footer{
    width: 100%;
    height: 60px;
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
    line-height: 60px;
}