body{
    font-size: 15px;
    font-family: 微软雅黑;
}
.content{
    margin: 50px auto;
    text-align: center;
}

table{
    width: 550px;
    border-collapse: collapse;
    margin-top: 5px;
}
tr{
    height: 30px;
}

#btn{
    width: 90px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #666;
}
a:hover{
    color: red;
}

