*{
    padding: 0px;
    margin: 0px;
    /*box-sizing: border-box;*/    /*设计稿要使用浏览器宽度*/
}
body{
    background-color: gainsboro;

}
#container{
    min-width: 1280px;      /*把设计稿宽度设计为最小宽度min-width*/
    height: 4554px;
    margin: 0 auto;
    background-color: snow;
}

/*头部*/
#header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}
#header p{
    float: left;
    font-size: 21px;
    font-family: 黑体;
    margin-left: 100px;
    line-height: 60px;
}
ul{
    float: left;
    padding-left: 545px;
    padding-bottom: 5px;
}
ul li{
    display: inline-block;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #787b83;
    line-height: 55px;
}
ul li a{
    text-decoration: none;
    width: 60px;
    padding: 0 20px;
    transition: all 0.5s;
    text-align: center;
}
#header li a:hover{
    color: red;
}
.active a{
    color: #e74f4d;
}
.active{
    border-bottom: 4px solid #e74f4d;
}
#header div a{
    float: right;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #e74f4d;
    margin-right: 75px;
    text-decoration: none;
    line-height: 55px;
}

/*中间部分*/
/*第一部分*/
#part1{
    width: 100%;
    height: 650px;
    background: url("../image/f2deb48f8c5494eea2327ba52cf5e0fe99257e7d.jpg");
    opacity: 0.6;
    font-family: 微软雅黑;
    color: #ffffff;
}
#p1{
    font-size: 60px;
    margin-left: 100px;
    padding-top: 200px;
}
#p2{
    font-size: 21px;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 60px;
}
#put2{
    width: 330px;
    height: 60px;
    font-size: 30px;
    color: #ffffff;
    background-color: #e74f4d;
    margin-left: 100px;
    border: none;
    cursor: pointer;
}

#part1_text{
    width: 100%;
    height: 250px;
}
#part1_text p{
    font-size: 14px;
    font-family: 黑体;
    color: #767777;
    width: 150px;
    text-align: center;
    display: inline-block;
    padding: 0 80px;
    border-right: 1px solid #767777;
    margin-top: 135px;
}
p#p3{
    border-right: none;
}

/*第二部分*/
#part2{
    width: 100%;
    height: 700px;
}
#part2_top{
    width: 100%;
    height: 360px;
    background-color: rgb(236,236,236);
}
#p4{
    font-size: 54px;
    font-family: 黑体;
    color: #323333;
    text-align: center;
    padding-top: 230px;
}

#part2_bottom{
    width: 100%;
    height: 340px;
    background: url("../image/63d9f2d3572c11df4fa8cb9f622762d0f703c215.jpg");
}
#part2_bottom p{
    font-family: 微软雅黑;
    color: #ffffff;
}
#p5{
    font-size: 21px;
    text-align: center;
    padding-top: 50px;
}
#p6{
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}

#part2_shu{
    text-align: center;
    padding-top: 50px;
}
select{
    width: 235px;
    height: 35px;
    margin-right: 30px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #a8aaaa;
}
select option{
    background-color: lavender;
    line-height: 35px;
}

#part2_shu input{
    width: 235px;
    height: 35px;
    color: #ffffff;
    background-color: #e74f4d;
    font-size: 14px;
    font-family: 微软雅黑;
    word-spacing: 15px;
    cursor: pointer;
    border: none;
}

/*第三部分*/
/*第三部分上半部分*/
#part3_top{
    height: 605px;
    background-color: ghostwhite;
    padding-left: 145px;
    padding-top: 100px;
}
#part3_top img{
    padding: 12px 8px;
    background-color: white;
    border-top: 1px solid #dcdcdd;
    border-left: 1px solid #dcdcdd;
    border-right: 1px solid #dcdcdd;
}
#part3_top div{
    display: inline-block;

}
#part3_top div p{
    padding: 10px 0;
    font-size: 14px;
    font-family: 微软雅黑;
    color:rgb(50,51,51) ;
    text-align: center;
}
#part3_top div span{
    padding-top: 10px;
    display: block;
    font-size: 12px;
}
#image2{
    padding-left: 35px;
}
#image3{
    padding: 0 35px;
}

/*第三部分中间*/
#part3_center{
    width: 100%;
    height: 1090px;
}
#top_left{
    float: left;
    width: 850px;
    height: 570px;
    background: url("../image/135293.jpg");
}
#top_left p{
    text-align: center;
    color: #ffffff;
    font-family: 微软雅黑;
}
#p7{
    padding-top: 130px;
    font-size: 49px;
}
#p8 {
    font-size: 158px;
}
#p9{
    font-size: 22px;
    line-height: 40px;
}

#top_right{
    float: right;
    padding-top: 160px;
    padding-right: 70px;
}
#top_right div{
    text-align: center;
    font-size: 21px;
    font-family: 黑体;
    color: #323333;
    padding-bottom: 20px;
}
#top_right span{
    color: #e74f4d;
}
#top_right p{
    font-size: 12px;
    font-family: 宋体;
    color: #aaaaaa;
    line-height: 30px;
}

#top_right div.more{
    width: 110px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #e74f4d;
    margin: 0 auto;
    padding-bottom: 0;
}
#top_right .more a{
    color: #e74f4d;
    font-size: 12px;
    font-family: 黑体;
    text-align: center;
    text-decoration: none;
}

#bottom{
    clear: both;
}

#bottom div{
    width: 425px;
    height: 520px;
    float: left;
    text-align: center;
}
#bottom p{
    font-size: 21px;
    font-family: 黑体;
    padding-top: 175px;
    line-height: 30px;
}
#bottom button{
    width: 170px;
    height: 45px;
    outline: none;
    font-size: 21px;
    font-family: 黑体;
    cursor: pointer;
}
.div1{
    background-color: #e74f4d;
}
.div1 p{
    color: #ffffff;
}
.div2 p{
    color: #323333;
}

.div1 div,.div2 div{
    padding-top: 50px;
}
.div1 button{
    background-color: #e74f4d;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.div2 button{
    background-color: snow;
    border:1px solid #e74f4d;
    color: #e74f4d;
}
.div3{
    float: left;
    width: 430px;
    height: 520px;
    background: url("../image/82adb051f819861868aba4604aed2e7389d4e698.jpg");
}


/*第四部分*/
#part4_top{
    width: 100%;
    height: 300px;
    text-align: center;
}
#part4_top div{
    padding-top: 110px;
    font-size: 21px;
    font-family: 黑体;
    color: #323333;
    padding-bottom: 10px;
}
#part4_top span{
    height: 2px;
    color: #e74f4d;
}
#part4_top p{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #aaaaaa;
}


#part4_bottom{
    width: 100%;
    height: 450px;
}
.left{
    padding-left: 140px;
    float: left;
}
.left h3{
    font-size: 14px;
    font-family: 黑体;
    color: #323333;
    padding-bottom: 25px;
    padding-top: 20px;
}
.left p{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #aaaaaa;
    line-height: 20px;
}
.left a{
    font-size: 14px;
    font-family: 宋体;
    color: #aaaaaa;
    text-decoration: none;
    padding-left: 255px;
}
.left a:hover{
    color: #e74f4d;
}


.right{
    margin-right: 130px;
    float: right;
}
.right form div{
    padding-bottom: 15px;

}
.right input{
    width: 310px;
    height: 40px;
    padding-left: 10px;
    background-color: rgb(237,236,238);
    border: none;
}
.div7 input{
    width: 640px;
    height: 120px;
    margin-bottom: 15px;
}
.div8 input{
    width: 653px;
    font-size: 14px;
    font-family: 黑体;
    color: #323333;
    outline: none;
}

/*底部*/
#top_footer{
    width: 100%;
    height: 358px;
    background-color: rgb(51,54,63);
}
#top_footer h3{
    font-size: 21px;
    font-family: 黑体;
    padding-top: 90px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 5px;
}
#top_footer p{
    font-size: 12px;
    font-family: 宋体;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}
.put{
    text-align: center;
    margin: 30px 0;
}
#input1{
    padding-left: 5px;
    width: 430px;
    height: 40px;
    font-size: 14px;
    font-family: 微软雅黑;
}
#input2{
    margin-left: -10px;
    width: 80px;
    height: 44px;
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 14px;
    background-color: rgb(112,114,120);
    border: none;
}

#bottom_footer{
    width: 100%;
    height: 60px;
    background-color: rgb(47,47,56);
}
#bottom_footer p{
    float: left;
    font-size: 12px;
    font-family: 宋体;
    color: #ffffff;
    line-height: 60px;
    margin-left: 60px;
}
#bottom_footer a{
    float: right;
    font-size: 12px;
    font-family: 宋体;
    color: #ffffff;
    margin-right: 40px;
    text-decoration: none;
    line-height: 60px;
}