*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    padding: 20px;
}

div.sanlan {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;              /*overflow的设置使页面的整体高度为子元素的最高高度*/
}

.left{
    float: left;
    background-color: white;     /*若使用position对元素进行定位,整体采用相对定位relative,则左右两侧采用绝对定位absolute*/
    width: 160px;                /*中间部分的内容再采用margin进行设置*/
    padding: 20px;
    border: 1px solid #999;
}
.right{
    width: 80px;
    padding: 20px;
    float: right;
    background-color: white;
    border: 1px solid #999;
}

.center{
    padding: 20px;
    margin: 0 140px 0 220px;
    background-color: white;
    border: 1px solid #999;
}

.left p.p1{
   float: right;
   right: 20px;
}

.left p.p2{
    width: 80px;
    background-color: #eee;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #999;
}

.right p.p3{
    width: 80px;
    background-color: #eee;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid #999;
}
.right p.p4{
    width: 80px;
    background-color: #eee;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #999;
}